<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="Wild Astronautes" />
    <link rel="stylesheet" type="text/css" href="/styles/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick-theme.css" />
    <link rel="icon" type="image/x-icon" href="/medias/favicon.ico" />
    <title>Wild Astro</title>
</head>

<body>
    <div id="site-container">

    </div>

        <script src="/vendor/jquery.js"></script>
        <script src="/vendor/slick/slick.min.js"></script>
        <script src="/scripts/javascript.js"></script>
        <script src="/scripts/menu_javascript.js"></script>

        <script src="/collections/posts.js"></script>
        <script src="/models/post.js"></script>
        <script src="/controllers/posts-controller.js"></script>

    </body>

    </html>
