@font-face {
	font-family: "Lucida Grande";
	src: url("../ressources/lucidagrande.ttf");
}

body {
	margin: 0 auto;
	padding: 0;
	background-color: #333333;
	font-family: "Lucida Grande";
}



header {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-height: 40px;
	background-color: #263C4A; 
	/*background-color: #39558E; 7C99AF*/
	background-position: bottom;
	border-bottom: 1px solid black;

}

footer { display: flex; flex-direction: row; justify-content: space-around; line-height: 50%; width: 100%; height: 100px; background-color: rgba(20, 20, 20, 1) }

#main-menu a {
	color: white;
	/*background-color: #39558E;*/
	background-color: #263C4A;
	font-family: "Lucida Grande";
	text-decoration: none;
}

a:hover {
	text-shadow: 0px 0px 2px;
	transition: 0.2s;

}


ul {

}

li {

}

img {

}

p {

}




#logo {
	line-height: 40px;
	margin: none;
	font-weight: bold;
	display: flex;
	min-width: 500px;
	


}

#logoTxt {
	margin-left: 2px;
}

#logo a {
	color: white;
	text-decoration: none;
}

#main-menu > ul {
	display: flex;
	margin: 0px;
}

#main-menu li {
	display: flex;
	flex-direction: column;
	line-height: 40px;
	margin-right: 20px;

}

.menuItem ul {
	padding: 0px;
	display: none;
	background-color: red;

}

.menuItem ul li {
	text-align: center;
	width: 100%;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}

#container {
	background-color: #E6E6E6;
}


.slider {
	overflow: hidden;
	max-height: 350px;
	width: 100%;
	padding: 0;
	margin: 0;
}

#article-asso{
	display: flex;
	background-image: url('../ressources/photos/milky-way-1049493_1920.jpg');
	background-size: 800px, 800px;
}

#barre-milieu {
	height: auto;
	width: 5px;
	background-color: rgba(255, 255, 255, 1);
	margin: 5px;
}

#latest-posts {
	width: 100%;
}

#titlelastpost, #resume {
	display: inline-block;
	padding: 2px;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 10px;
}


#footer a{
	color: white;
	text-decoration: none;
}

#footer a :hover{
	text-decoration: underline;
}

/*Corps Accueil */

#contenu {
	display:flex;
	background-color: #E6E6E6;
}

#lastArticle {
	display: flex;
	flex-direction: column;
	flex: 2;
	align-items: center;
	background-color: white;
	margin: 15px 15px 15px 15px;
}

#resume {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: white;
}

#titleArticle, #titleAsso {
	width: 100%;
	font-size: 1.5rem;
	text-align: center;
	color: #7C99AF;

}

#imgArticle {
	position: relative;
	text-align: center;

}

#imgArticle img {
	min-width: 400px;
	height: auto;
}

#presAsso {
	display: flex;
	flex-direction: column;
	flex: 1.5;
	align-items:center;
	margin: 15px 15px 15px 15px;
	background-color: white;
}

#titleAsso {
	
	margin-bottom: 20px;
}

#img1 img, #img2 img {
	width: 100px;
	height:auto;
}

#text1, #text2 {
	font-size: 0.9rem;
	line-height: 20px;
}

#corpsAsso {
	display: flex;
	flex-direction: column;
	
}

#top_lane, #bottom_lane {
	display: flex;
	margin-left: 5px;
	margin-right: 5px;

}

#top_lane {
	margin-bottom: 40px;
}
/*============Article===========*/


#imgIntro  {
	height:350px;
	width: 100%;
	background: url("../ressources/photos/milky-way-923801_1280.jpg");

}

#descArticle {
	height:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;

}

#titreArticle {
	font-size: 1.5em;
	max-width: 300px;
}

#ariane {
	color: white;
	margin-left: 20px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 0.9em;
}

#articleBody {
	color: black;
	background-color: white;
	width: 85%;
	height: auto;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

#infoArticle {
	background-color: #F6EBD7;
	font-size: 0.9em;
	color: rgb(50, 50, 50);
	display: flex;
	justify-content: space-around;
	width: 40%;
	height: 40px;
	font-weight: bold;
	align-items: center;
	font-style: italic;
	-moz-box-shadow: 5px 5px 2px 0px #c0c0c0;
	-webkit-box-shadow: 5px 5px 2px 0px #c0c0c0;
	-o-box-shadow: 5px 5px 2px 0px #c0c0c0;
	box-shadow: 5px 5px 2px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=2);


}

#corpsArticle {
	width: 90%;
	margin-top: 30px;
	font-size: 1.1em;
}

